<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>contifico</name>
	<displayName><![CDATA[contifico]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Administración y logística contifico]]></description>
	<author><![CDATA[LRobles]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
